@charset "utf-8";

html {
  background: rgb(25,34,49);
  height: 100%;
}

body {
  background: rgb(73, 78, 107);
  color: rgb(237, 234, 242);
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  max-width: 1024px;
}

/*
cloud
rgb(152, 135, 143)
sunset
rgb(152, 94, 109)
*/

/* =============================
   Mobile Styles:: 0px to 480px
   =============================
*/

@media only screen and (max-width: 480px) {
  
 
}


/* ==================================
   Tablet Styles:: 481px to 768px
   ==================================
*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  
}

/* ==================================
   Desktop styles: 769px and greater
   ==================================
*/
@media only screen and (min-width: 769px) {
  
 
  nav.horizontal::after {
    clear: both;
    content: "";
    display: table;
  }
    
}